temp/
*.pdb
*.ilk
*.sdf
*.ipch
game/
*.opensdf
build/vc2015/bomberman.VC.db
build/vc2015/bomberman.VC.VC.opendb
build/vc2015/.vs/bomberman/v14/.suo
/build/vc2017/.vs/bomberman/v15/Browse.VC.db
/build/vc2017/.vs/bomberman/v15/.suo
/build/vc2017/bomberman.v12.suo
/build/vc2017/.vs/bomberman/v15/Browse.VC.opendb
/build/vc2019/.vs
/build/vc2022/.vs
